<footer class="major">
  <ul class="buttons">
    {{#if prev}}
    <li><a href="{{page_url prev}}" class="button">Newer</a></li>
    {{/if}}
    {{#if next}}
    <li><a href="{{page_url next}}" class="button">Older</a></li>
    {{/if}}
  </ul>
</footer>
